body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* src/index.css */
/* src/index.css */
/* src/index.css */
/* src/index.css */

/* Existing styles */

/* Adjust UploadView and FileView for better responsiveness */
.upload-view,
.file-view {
  border: 2px dashed #ccc;
  padding: 40px; /* Increased padding for better visibility */
  border-radius: 10px; /* Increased border radius */
  text-align: center;
  cursor: pointer;
  width: 100%; /* Ensure it takes available width */
  min-height: 200px; /* Set a minimum height */
  position: relative; /* Ensure positioning doesn't interfere */
}

.upload-view button {
  position: relative; /* Ensure the button is on top */
  z-index: 1; /* Ensure the button is clickable */
}

.file-item button:hover {
  opacity: 0.8;
}

.spinner.viewport.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Responsive Design */
@media (max-width: 600px) {
  .file-view {
    flex-direction: column;
    align-items: center;
  }

  .file-item {
    width: 100%;
    max-width: 300px;
  }
}
